[submodule "themes/hugo-dreamplus-theme"]
	path = themes/hugo-dreamplus-theme
	url = https://github.com/UtkarshVerma/hugo-dream-plus.git
[submodule "themes/dream-plus"]
	path = themes/dream-plus
	url = https://github.com/UtkarshVerma/hugo-dream-plus
