[submodule "themes/hugo-dreamplus-theme"]
	path = themes/hugo-dreamplus-theme
	url = https://github.com/UtkarshVerma/hugo-dream-plus.git
[submodule "themes/dream-plus"]
	path = themes/dream-plus
	url = https://github.com/UtkarshVerma/hugo-dream-plus
[submodule "themes/hugo-theme-dream"]
	path = themes/hugo-theme-dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
[submodule "themes/hugo-minimalist-theme"]
	path = themes/hugo-minimalist-theme
	url = https://github.com/digitalcraftsman/hugo-minimalist-theme.git
